VITE_PUBLIC_BASE=/mdp/
VITE_RRZXS_API_BASE=/api/v1
VITE_RRZXS_APP_ID=mdp
VITE_RRZXS_REDIRECT_URI=https://rrzxs.com/mdp/
VITE_RRZXS_RETURN_TO=https://rrzxs.com/mdp/
VITE_RRZXS_DEV_PROXY_TARGET=https://rrzxs.com

